@model GameViewModel

@{
    ViewData["Title"] = "Index";
}

<script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
<script src="https://cdn.jsdelivr.net/gh/josephg/noisejs@master/perlin.js"></script>
<script src="~/js/entities.js"></script>
<script src="~/js/scene-start.js"></script>
<script src="~/js/scene-main.js"></script>\
<script src="~/js/scene-death.js"></script>
<script src="~/js/scene-end.js"></script>

<div class="text-center text-light">
    <h2>Let's get mining!</h2>
    <div id="gameContainer" class="mx-auto d-block mb-4" style="width: 800px; height: 600px;"></div>
</div>

<script>
    window.environmentObjects = @Html.Raw(Json.Serialize(Model.EnvironmentObjects.Select(e => new {
        e.Id,
        e.Name,
        e.Path,
        Items = e.GetItems()
    })));

    window.items = @Html.Raw(Json.Serialize(Model.Items));

    console.log("Loaded Environment Objects:", window.environmentObjects);
    console.log("Loaded Items:", window.items);
</script>

<script src="~/js/mine.js"></script>