@{
    ViewData["Title"] = "Index";
}

<script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
<script src="~/js/mine.js"></script>

<h2>Index</h2>

<p>Hello from our View Template!</p>
<div id="gameContainer" style="width: 800px; height: 600px;"></div>