@model GameViewModel

@{
    ViewData["Title"] = "Index";
}

<script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
<script src="https://cdn.jsdelivr.net/gh/josephg/noisejs@master/perlin.js"></script>

<div class="text-center text-light">
    <h2>Let's get mining!</h2>
    <div id="gameContainer" class="mx-auto d-block mb-4" style="width: 800px; height: 600px;"></div>
</div>

<script>
    window.environmentObjects = @Html.Raw(Json.Serialize(Model.EnvironmentObjects.Select(e => new {
        e.Id,
        e.Name,
        e.Path,
        e.Health,
        e.MaterialType,
        e.RequiredLevel,
        e.Layer,
        Items = e.GetItems()
    })));

    window.enemies = @Html.Raw(Json.Serialize(Model.Enemies.Select(e => new {
        e.Id,
        e.Name,
        e.Sprite,
        e.Health, 
        e.Speed,
        e.EnemyType, 
        Items = e.GetItems()
    })));

    window.items = @Html.Raw(Json.Serialize(Model.Items));

    window.levelConfigurations = @Html.Raw(Json.Serialize(Model.LevelConfigurations.Select(e => new {
        e.Id,
        e.Amount,
        Enemies = e.GetEnemies(),
        EnvironmentObjects = e.GetEnvironementObjects(),
    })))

    console.log("Loaded Levels:", window.levelConfigurations);
    console.log("Loaded Enemies:", window.enemies);
    console.log("Loaded Items:", window.items);
    console.log("Loaded Objects:", window.environmentObjects);
</script>

<script type="module" src="~/js/mine.js"></script>